.main {
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.548);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    margin: 10px;
    height: fit-content;
    width: 200px;

    &:hover {
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.233);
    }
}

.name {
    text-align: center;
    font-size: 20px;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    position: relative;
    object-fit: cover;
    
    img {
        border-radius: 6px;
    }
}

.addButton {
    background-color: rgb(39, 39, 39);
    color: white;
    display: block;;
    align-self: center;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background-color: black;
    }
}

.descriptionContainer {

    .description {
        font-weight: 500;
        font-size: 14px;
    }

    .price {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
    }
}