.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}

.headerContainer {
    align-items: center;
    background-color: #b19562;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 1000;
    
    .title {
        font-weight: 600;
        color: rgb(0, 0, 0);
        cursor: pointer;

        img {
            // filter: invert(1);
            position: relative;
            top: 3px;
        }
    }
}

.cartContainer {
    display: flex;
    justify-content: center;
    height: 100%;
}