.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.headerContainer {
    align-items: center;
    background-color: #694f5d;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 1000;
    
    .title {
        font-weight: 600;
        color: white;
        cursor: pointer;

        img {
            filter: invert(1);
            position: relative;
            top: 3px;
        }
    }
}

.cartContainer {
    display: flex;
    justify-content: center;
    height: calc(100vh - 74px);
}